{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Estado edit</h1>

    {{ form(edit_form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('estado') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
