{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Tipoproyecto creation</h1>

    {{ form(form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('tipoproyecto') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
